@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
:root {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  font-weight: 400;

  box-sizing: border-box;
  position: relative;
}
body {
  position: relative;
}
h1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.9rem;
}
h2 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 3.1rem;
}
.block-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
img {
  position: relative;
}

.block-1-button {
  width: 39.5%;
  font-size: 1.5rem;
  font-weight: 600;
  height: 4.4rem;
  border-radius: 82px;
  border: none;
  background: #393939;
  color: white;
  line-height: 1.8rem;
}
.block-button {
  width: 100%;
  position: relative;
  margin-top: 1.3rem;
  margin-bottom: 4rem;
  line-height: 1.8rem;
  font-size: 1.5rem;
  font-weight: 600;
  height: 44px;
  border-radius: 82px;
  border: none;
  background: #393939;
  color: white;
}

.die {
  display: inline-block;
  background: none;
  border: 1px solid #000000;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 4px 8px;
  gap: 8px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.7rem;
  margin-bottom: 0.8rem;
}
.slider-class {
  font-weight: 600;
  font-size: 12px;
  color: #939393;
  line-height: 1.5rem;
  margin-top:1.7rem;
}
.slider-text {
  font-weight: 600;
  font-size: 14px;
  color: black;
  line-height: 1.7rem;
}
.slider .die {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 1.8rem;
  margin-bottom: 1.7rem;
}
.die.news {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom:0.7rem;
}

.news-element {
  margin: 1.4rem 0;
  padding: 1.6rem 1.6rem 2.4rem 1.6rem;
}
.news-element img {
  width: 100%;
}
.block-table-header {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.s-table-text {
  font-size: 1.4rem;
  color: #393939;
}
.text-link {
  color: #393939;
  font-weight: 600;
  text-decoration-line: underline;
}
.block-art-header {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
}
tr .block-button {
  width: 83.5%;
}
footer {
  font-size: 1.5rem;
  color: white;
  background: #181818;
  padding-left: 15px; /*Кроме hr*/
  padding-right: 15px;
}
footer a {
  color: white;
  text-decoration-line: none;
}
footer a img {
  float: right;
  margin-left: 1.2rem;
}
li {
  list-style-type: none;
}
ul {
  padding: 0; /* Убираем поля */
  margin-left: 0px; /* Отступ слева */
}
.menu {
  position: relative;
  top: 3rem;
  margin-bottom: 4.2rem; /*Переделать*/
  font-size: 14px;
  line-height: 4rem;
}
.contact-us {
  font-weight: 600;
  line-height: 1.8rem;
  text-transform: uppercase;
  padding: 2.3rem 0 2.1rem 0;
}
.readmore-button {
  border: 1px solid #939393;
  border-radius: 82px;
  height: 4.6rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  color: #393939;
  line-height: 1.8rem;
  gap: 8px;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
  display: flex;
  margin-top: 1.3rem;
}
hr {
  opacity: 0.1;
  border: 1px solid #ffffff;
  margin:0;
}
.copyright {
  opacity: 0.3;
  line-height: 1.8rem;
  padding: 2.1rem 0;
}
.block-table {
  margin: 0%;
}
.img-table{
  margin:0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-table li{
  margin-bottom: 1.3rem;
}
.block-table-text {
  margin: 0%;
  line-height: 2.366rem;
  font-size: 1.4rem;
}
footer img {
  position: relative;
  top: 3rem;
}
.date-text {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.logo {
  position: relative;
  top: 1.5rem;
  bottom: 1.6rem;
}
.menutop {
  float: right;
  position: relative;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  padding: 0;
  top: 1.4rem;
  margin-bottom: 1.5rem;
  margin-left: 1.9rem;
}
.cart {
  float: right;
  position: relative;
  top: 0.9rem;
  bottom: 1rem;
}
header,
main {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 2.2rem;
  padding-bottom: 2.2rem;
  position: relative;

}
.step{
  margin-bottom: 2.1rem;
}
h1, h2{
  position: relative;
  margin: 2.2rem 0 2.2rem 0;
}
.slider-selector{
  position: relative;
  float:right;
  
}

.slider-selector input[type=radio]{
  background: #393939;
  opacity:0.2;
  width: 4px;
  height:4px;
}
.slider-selector input[type=radio]:checked{
  opacity:1;
  width: 6px;
  height:6px;
}
#bottomimg{
  margin-bottom: 2.4rem;
  width:100%;
}
#dr1{
  z-index: 3;
}
#dr2{
  z-index: 1;
  position: absolute;
  left:15%;
  
}
#dr3{
  z-index: 2;
  position: absolute;
  left:20%
}